name: Docker Workflow

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image-name }}

jobs:
  pipeline:
    name: Pipeline
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # https://github.com/actions/checkout#Fetch-all-history-for-all-tags-and-branches

      - uses: simonjensen/pipelines/.github/actions/create-tag@main

      - uses: simonjensen/pipelines/.github/actions/create-release-notes@main

      - uses: simonjensen/pipelines/.github/actions/create-release@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: simonjensen/pipelines/.github/actions/docker-build-and-publish@main

