name: Docker Workflow

on:
  workflow_call:
    inputs:
      image-name:
        description: The name of the Docker image to build and release
        required: true
        type: string
      create-tag:
        description: Whether to create a new tag for the release
        required: false
        type: boolean
        default: true
      create-release-notes:
        description: Whether to create release notes for the release
        required: false
        type: boolean
        default: true
      create-release:
        description: Whether to create a new release
        required: false
        type: boolean
        default: true
      composer-install:
        description: Whether to install Composer dependencies
        required: false
        type: boolean
        default: false
      composer-install-path:
        description: The path to the composer directory relative to the repository root
        required: false
        type: string
        default: src
      docker-build-and-release:
        description: Whether to build and release the Docker image
        required: false
        type: boolean
        default: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ inputs.image-name }}

jobs:
  pipeline:
    name: Pipeline
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        id: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # https://github.com/actions/checkout#Fetch-all-history-for-all-tags-and-branches

      - name: Create Tag
        id: create-tag
        if: ${{ inputs.create-tag }}
        uses: simonjensen/pipelines/.github/actions/create-tag@main

      - name: Create Release Notes
        id: create-release-notes
        if: ${{ inputs.create-release-notes }}
        uses: simonjensen/pipelines/.github/actions/create-release-notes@main

      - name: Create Release
        id: create-release
        if: ${{ inputs.create-release }}
        uses: simonjensen/pipelines/.github/actions/create-release@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Composer Install
        id: composer-install
        if: ${{ inputs.composer-install }}
        uses: simonjensen/pipelines/.github/actions/composer-install@6-add-feature-toggling-for-steps-to-run
        with:
          composer-path: ${{ inputs.composer-install-path }}

      - name: Docker Build And Release
        id: docker-build-and-release
        if: ${{ inputs.docker-build-and-release }}
        uses: simonjensen/pipelines/.github/actions/docker-build-and-publish@main
        with:
          tag: ${{ steps.create-tag.outputs.tag }}
